/* Grundlegende CSS-Stile für die Webseite */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color:lightgreen;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    margin: 20px;
}

nav {
    
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
	display:flex;
	justify-content:center;
	gap:20px;
	margin:0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    border-bottom: 2px solid lightgreen;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    color: #d63384;
}

footer {
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

        h2 {
            font-size: 28px;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            font-size: 18px;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] {
            padding: 10px 20px;
            background-color: mint green;
            color: black;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: mint green;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: mint green;
            color: black;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
        }

        a:hover {
            background-color: mint green;
        }
